@import "vendors/bootstrap";
@import "vendors/normalize";
@import "vendors/fonts";
@import "vendors/defaults";
@import "vendors/swiper3";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$wrapperWidth: 1400px;
$containerWidth: 1110px;
$marginAuto: 0 auto;
$proxNova: 'Proxima Nova Rg';
$proxNovaLt: 'Proxima Nova Lt';
$proxNovaTh: 'Proxima Nova Th';
$proxNovaBl: 'Proxima Nova Bl';
$open: 'Open Sans';

body {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    font-family: $open;
    font-size: 16px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: $containerWidth;
    width: 100%;
}

h1,
.h1 {
    margin: 0;
    font-family: $proxNova;
    font-size: 50px;
    line-height: 50px;
    color: #020202;
}

h2,
.h2 {
    font-family: $proxNova;
    font-size: 55px;
    line-height: 45px;
    text-transform: uppercase;
    color: #000000;
}

h3,
.h3 {
    font-family: $proxNovaTh;
    font-size: 40px;
    line-height: 30px;
    color: #000000;
}

h4,
.h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #404040;
}

p,
.text {
    font-family: $proxNovaLt;
    font-size: 18px;
    line-height: 27px;
    color: #2c2c2c;

    &_bold {
        font-family: $proxNova;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
    }

    b {
        font-family: $proxNova;
        font-weight: bold;
    }

    &_big {
        font-family: $proxNova;
        font-size: 20px;
        line-height: 30px;
        color: #000;

    }
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tu {
    text-transform: uppercase;
}

.white {
    color: #fff;
}

.logo {
    margin-bottom: 87px;
    width: 321px;
    height: 32px;
}

.main {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;

    &-banner {
        position: relative;
        height: 600px;

        &_footer {
            margin-top: 155px;
            height: 679px;

            .main-banner-content {
                padding-top: 202px;
                align-items: flex-start;

                .h1 {
                    margin-bottom: 18px;
                    max-width: 830px;
                    width: 100%;
                    font-family: $proxNova;
                    font-size: 50px;
                    font-weight: bold;
                    line-height: 50px;
                    text-transform: none;
                    color: #020202;
                }

                .text {
                    margin-bottom: 50px;
                    max-width: 540px;
                    width: 100%;
                }
            }
        }

        &-wrap {
            margin: 0 auto;
            max-width: $containerWidth;
            width: 100%;
            height: 100%;
        }

        &-content {
            padding-top: 84px;
            max-width: 877px;
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-flow: column nowrap;

            &:before {
                position: absolute;
                content: '';
                z-index: -3;
                left: 0;
                top: 0;
                width: calc(50% + 80px);
                height: 100%;
                background: linear-gradient(38.35deg, #9934ff 27.9%, #79e2ff 88.81%);
            }

            &:after {
                position: absolute;
                content: '';
                z-index: -2;
                left: 30px;
                top: 25px;
                width: calc(50% + 25px);
                height: calc(100% - 49px);
                background: #fff;
            }

            .h4 {
                max-width: 458px;
                width: 100%;
            }
        }

        &-img {
            position: absolute;
            z-index: -4;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: right;
        }
    }

}

.blockquote {
    position: relative;
    top: -27px;
    padding: 40px 50px;
    margin: 0 auto 129px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 920px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    &-content {
        position: relative;
        padding-right: 40px;
        padding-left: 22px;
        flex: 1 0 458px;
        width: 458px;
        height: 100%;

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            width: 38px;
            height: 35px;
            background-image: url('/assets/img/arrow-bq.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            transform: translateY(-50%);
        }

        &:after {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            width: 2px;
            height: 100%;
            background-color: #e7e7e7;
            transform: translateY(-50%);
        }

        .text {
            font-family: $proxNovaLt;
            font-size: 19px;
            line-height: 30px;
            font-style: italic;
            text-align: right;
            color: #2c2c2c;
        }
    }

    &-author {
        padding-left: 40px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
    }

    &-photo {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &-name {
        margin-left: 20px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
    }

    &__title {
        margin-bottom: 1px;
        font-family: $proxNova;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #2c2c2c;
    }

    &__text {
        font-family: $proxNovaLt;
        font-size: 10px;
        line-height: 13px;
        color: #757575;

    }
}

.bq {
    position: relative;
    padding-left: 35px;
    max-width: 440px;
    width: 100%;
    display: block;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: linear-gradient(87.57deg, #9934FF 27.9%, #79E2FF 88.81%);
    }
}

.block {
    position: relative;

    &-row {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &_top {
            align-items: flex-start;
        }
    }

    &_who {

        .h2 {
            margin: 0 auto;
            max-width: 731px;
            width: 100%;

            &:before {
                left: 373px;
                top: -3px;
            }
        }

        .text {
            font-size: 16px;
            line-height: 24px;
        }

        &_additional {
            margin-top: 153px;
            margin-bottom: 230px;
            padding: 97px 0 105px;
            background-image: url('/assets/img/bg-star.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .h3 {
                letter-spacing: 2px;
            }
        }
    }

    &_strategy {

        .h2 {
            font-family: $proxNova;
            font-size: 45px;
            line-height: 45px;
            color: #000000;

            span {
                font-family: $proxNovaLt;
                font-weight: 300;
            }
        }
    }

    &_roi {

        margin-top: 160px;

        .text {
            margin: 0 auto;
            max-width: 727px;
            width: 100%;
        }
    }

    &-half {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        max-width: 50%;
        width: 100%;
    }

    &-img {
        position: relative;
        width: 100%;
        height: 370px;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            bottom: -9px;
            left: 50%;
            width: calc(100% - 70px);
            height: 18px;
            background: linear-gradient(2.34deg, #9934ff 27.9%, #79e2ff 88.81%);
            filter: blur(14px);
            border-radius: 22px;
            transform: translateX(-50%);
        }

        &_bg {
            max-width: 445px;
            height: 490px;

            &:before {
                left: auto;
                bottom: -40px;
                right: -30px;
                width: 382px;
                height: 468px;
                background: linear-gradient(52.65deg, #9934FF 27.9%, #79E2FF 88.81%);
                transform: translateX(0);
                filter: blur(0);
                border-radius: 0;
            }
        }

        &_result {
            margin: 40px auto 0;
            height: 421px;
            max-width: 959px;

            &:before {
                content: none;
            }
        }

        &_no {

            &:before {
                background: transparent;
                filter: none;
                border-radius: 0;
            }
        }
    }

    &-border {
        position: relative;
        margin-top: 55px;
        margin-left: auto;
        margin-right: auto;
        padding: 41px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: left;
        max-width: 430px;
        width: 100%;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            z-index: -3;
            width: 430px;
            height: 568px;
            background: linear-gradient(54.71deg, #9934ff 27.9%, #79e2ff 88.81%);
        }

        &:after {
            position: absolute;
            content: '';
            top: 15px;
            z-index: -2;
            width: 400px;
            height: 538px;
            background-color: #fff;
        }

        &__img {
            position: relative;
            margin-top: -176px;
            margin-left: 14px;
            width: 322px;
            height: 320px;
        }

        .text {
            margin-top: 25px;
            font-size: 16px;
            line-height: 24px;
            align-self: flex-start;
        }

        &_half {
            margin-top: -5px;
            padding: 60px 0;
            max-width: none;
            padding-right: 80px;

            &:before {
                right: 0;
                width: 635px;
                height: 275px;
            }

            &:after {
                top: 10px;
                right: 10px;
                width: 615px;
                height: 255px;
            }

            .h3 {
                font-family: $proxNova;
                font-weight: bold;
                font-size: 36px;
                line-height: 30px;
            }

            .text {
                margin-top: 0;
                font-size: 14px;
                line-height: 21px;
                color: #6f6f6f;
            }
        }

        .block-row {
            margin-top: 9px;
            justify-content: space-between;
            width: 100%;
        }

        .dots {
            padding-left: 0;

            &-item {
                margin-bottom: 0;
                padding-left: 18px;

                &:before {
                    transform: rotate(90deg);
                }

                .text {
                    margin-top: 0;
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
    }

    &_bonus {
        margin-top: 163px;

        .h2 {
            margin-left: 95px;
            max-width: 801px;
            width: 100%;

            &:before {
                top: -2px;
                left: 114px;
                width: 95px;
                height: 88px;
            }
        }
    }

    &_advantages {

        .h2 {
            max-width: 538px;
            width: 100%;

            &:before {
                top: -2px;
                left: 0;
                width: 95px;
                height: 88px;
            }
        }

        .dots {

            &-item {
                margin-bottom: 39px;
            }
        }
    }
}

.fw {

    &-list {
        margin-top: 40px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &-item {
        max-width: 244px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        .text {
            font-size: 14px;
            line-height: 21px;
            color: #fff;
        }
    }

    &__img {
        margin-right: 25px;
    }
}

.dots {
    padding-left: 3px; //check other
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;

    &-item {
        position: relative;
        margin-bottom: 25px;
        padding-left: 26px;

        &:before {
            position: absolute;
            content: '';
            top: 8px;
            left: 0;
            width: 10px;
            height: 9px;
            background-image: url('/assets/img/dot.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.strategy {
    margin: 60px 85px 0 95px;
    max-width: 919px;
    width: 100%;
    background-color: #fff;

    &-item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        max-width: 284px;
        width: 100%;
    }

    &-img {
        position: relative;
        margin-bottom: 50px;
        width: 100%;
        height: 395px;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            bottom: -14px;
            width: calc(100% - 40px);
            height: 20px;
            background: linear-gradient(4.99deg, #9934FF 27.9%, #79E2FF 88.81%);
            filter: blur(7px);
            border-radius: 22px;
            transform: translateX(-50%);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin-bottom: 20px;
        font-family: $proxNovaTh;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    &__text {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #000000;
    }

    &-pagination {
        position: absolute;
        z-index: 0;
        top: 330px;
        width: 100%;
        height: 72px;
        pointer-events: none;
    }
}

.arrow-prev {
    position: absolute;
    top: 0;
    left: 9px;
    width: 143px;
    height: 72px;
    background-color: #000;
    border-radius: 36px;
    cursor: pointer;
    pointer-events: auto;

    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        bottom: -5px;
        left: 50%;
        width: calc(100% - 66px);
        height: 18px;
        background: linear-gradient(9.93deg, #9934FF 27.9%, #79E2FF 88.81%);
        filter: blur(10px);
        border-radius: 22px;
        transform: translateX(-50%);
    }

    &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 38px;
        width: 24px;
        height: 29px;
        background-image: url('/assets/img/prev-grey.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 24px 29px;
        transform: translateY(-50%);
        transition: all .3s ease-in-out;
    }

    &:hover {

        &:after {
            background-image: url('/assets/img/prev-white.svg');
        }
    }
}

.arrow-next {
    position: absolute;
    top: 0;
    right: 9px;
    width: 143px;
    height: 72px;
    background-color: #000;
    border-radius: 36px;
    cursor: pointer;
    pointer-events: auto;

    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        left: 50%;
        bottom: -5px;
        width: calc(100% - 66px);
        height: 18px;
        background: linear-gradient(9.93deg, #9934FF 27.9%, #79E2FF 88.81%);
        filter: blur(10px);
        border-radius: 22px;
        transform: translateX(-50%);
    }

    &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 38px;
        width: 24px;
        height: 29px;
        background-image: url('/assets/img/next-grey.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 24px 29px;
        transform: translateY(-50%);
        transition: all .3s ease-in-out;
    }

    &:hover {

        &:after {
            background-image: url('/assets/img/next-white.svg');
        }
    }
}

.bonus {
    margin-top: 60px;
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;

    &-item {
        margin: 0 15px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        max-width: 350px;
        width: 100%;
    }

    &__img {
        margin-bottom: 20px;
        width: 100%;
        height: 244px;
    }

    &__text {
        margin: 0 auto;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #2c2c2c;
        max-width: 250px;
        width: 100%;
    }
}

.clients {
    padding-top: 160px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    width: 100%;

    &-wrap {
        position: relative;
        margin-top: 60px;
        height: 484px;
        background-color: #f9f9f9;
    }

    .h2 {
        margin: 0 auto;
        max-width: 731px;
        width: 100%;

        &:before {
            top: -9px;
            left: 153px;
            width: 68px;
            height: 63px;
        }
    }

    &-list {
        margin: 0 auto;
        max-width: $containerWidth;
        width: 100%;
        height: 100%;
    }

    &-slider {
        position: relative;
        margin-left: 0;
        padding-top: 120px;
        padding-right: 33px;
        max-width: 668px;
        width: 100%;
        height: 100%;

        &:before {
            position: absolute;
            right: 0;
            top: 50%;
            content: '';
            width: 33px;
            height: 383px;
            background-color: #f9f9f9;
            transform: translateY(-50%);
        }
    }

    &-item {
        padding-top: 1px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        max-width: 540px;
        width: 100%;
        opacity: 0 !important;
        &.swiper-slide-active {
            opacity: 1 !important;
        }
    }

    &__title {
        margin-bottom: 5px;
        font-family: $proxNova;
        font-size: 40px;
        font-weight: bold;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
    }

    &__subtitle {
        margin-bottom: 30px;
        font-family: $proxNova;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        color: #000000;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    &-img {
        position: absolute;
        top: 0;
        left: calc(50% + 80px);
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }

    &-pagination {
        position: absolute;
        z-index: 1;
        bottom: 83px;
        left: 0;
        width: 95px;
        height: 40px;
        border-radius: 40px;
        background-color: #000;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            bottom: -3px;
            width: calc(100% - 34px);
            height: 10px;
            transform: translateX(-50%);
            background: linear-gradient(9.94deg, #9934ff 27.9%, #79e2ff 88.81%);
            filter: blur(5px);
            border-radius: 22px;
            opacity: 1;
            transition: all .3s ease-in-out;
        }

        &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 1px;
            height: 22px;
            background-color: #707070;
            transform: translateX(-50%) translateY(-50%);
        }

        &:hover {

            &:before {
                opacity: 0;
            }
        }
    }

    &-prev {
        position: relative;
        width: 50%;
        height: 100%;
        border: none;
        background: #000;
        background-image: url('/assets/img/prev-grey.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 8px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            top: 50%;
            width: calc(100% - 24px);
            height: calc(100% + 20px);
            background: linear-gradient(59.51deg, #9934FF 27.9%, #79E2FF 88.81%);
            filter: blur(7px);
            border-radius: 22px;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            transition: all .3s ease-in-out;
        }

        &:hover {
            background-image: url('/assets/img/prev-white.svg');

            &:before {
                opacity: 1;
            }
        }
    }

    &-next {
        position: relative;
        width: 50%;
        height: 100%;
        border: none;
        background: #000;
        background-image: url('/assets/img/next-grey.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 8px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            top: 50%;
            width: calc(100% - 24px);
            height: calc(100% + 20px);
            background: linear-gradient(59.51deg, #9934FF 27.9%, #79E2FF 88.81%);
            filter: blur(7px);
            border-radius: 22px;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            transition: all .3s ease-in-out;
        }

        &:hover {
            background-image: url('/assets/img/next-white.svg');

            &:before {
                opacity: 1;
            }
        }
    }
}

.case {
    margin-top: 150px;

    .h2 {
        max-width: 608px;
        width: 100%;

        &:before {
            top: 0;
            left: 38px;
            width: 95px;
            height: 88px;
        }
    }

    &-wrap {
        position: relative;
        margin-top: 60px;
        height: 614px;
    }

    &-list {
        margin: 0 auto;
        max-width: $containerWidth;
        width: 100%;
        height: 100%;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: calc(50% + 110px);
            height: 100%;
            background: linear-gradient(38.35deg, #9934ff 27.9%, #79e2ff 88.81%);
        }

        &:after {
            position: absolute;
            content: '';
            left: 30px;
            top: 25px;
            width: calc(50% + 50px);
            height: calc(100% - 49px);
            background: #fff;
        }
    }

    &-slider {
        position: relative;
        margin-left: 0;
        padding-top: 116px;
        padding-right: 33px;
        max-width: 668px;
        width: 100%;
        height: 100%;
    }

    &-item {
        max-width: 540px;
        width: 100%;
        margin-left: 0;
        opacity: 0 !important;
        &.swiper-slide-active {
            opacity: 1 !important;
        }
    }

    &__title {
        margin-bottom: 40px;
        font-family: $proxNova;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #000000;

        b {
            font-family: $proxNovaTh;
        }
    }

    &__subtitle {
        font-family: $proxNova;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        color: #000000;
    }

    &__text {
        font-family: $open;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    &-img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: calc(50% + 80px);
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }

    &-pagination {
        position: relative;
        z-index: 1;
        bottom: 49px;
        width: 172px;
        height: 72px;
        border-radius: 40px;
        background-color: #000;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            bottom: -3px;
            width: calc(100% - 34px);
            height: 10px;
            transform: translateX(-50%);
            background: linear-gradient(9.94deg, #9934ff 27.9%, #79e2ff 88.81%);
            filter: blur(5px);
            border-radius: 22px;
            opacity: 1;
            transition: all .3s ease-in-out;
        }

        &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 1px;
            height: 22px;
            background-color: #707070;
            transform: translateX(-50%) translateY(-50%);
        }

        &:hover {

            &:before {
                opacity: 0;
            }
        }
    }

    &-prev {
        position: relative;
        width: 50%;
        height: 100%;
        border: none;
        background: #000;
        background-image: url('/assets/img/prev-grey.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            top: 50%;
            width: calc(100% - 24px);
            height: calc(100% + 20px);
            background: linear-gradient(59.51deg, #9934FF 27.9%, #79E2FF 88.81%);
            filter: blur(7px);
            border-radius: 22px;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            transition: all .3s ease-in-out;
        }

        &:hover {
            background-image: url('/assets/img/prev-white.svg');

            &:before {
                opacity: 1;
            }
        }
    }

    &-next {
        position: relative;
        width: 50%;
        height: 100%;
        border: none;
        background: #000;
        background-image: url('/assets/img/next-grey.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            top: 50%;
            width: calc(100% - 24px);
            height: calc(100% + 20px);
            background: linear-gradient(59.51deg, #9934FF 27.9%, #79E2FF 88.81%);
            filter: blur(7px);
            border-radius: 22px;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            transition: all .3s ease-in-out;
        }

        &:hover {
            background-image: url('/assets/img/next-white.svg');

            &:before {
                opacity: 1;
            }
        }
    }
}

.package {
    margin-top: 170px;

    .h2 {
        font-size: 50px;
        line-height: 40px;
        text-transform: uppercase;
        color: #000000;

        &:before {
            top: -21px;
            left: -23px;
            width: 95px;
            height: 88px;
        }
    }

    .text {
        font-size: 16px;
        line-height: 24px;
        color: #2c2c2c;
    }

    &-list {
        margin: 60px -15px 0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    &-item {
        position: relative;
        margin: 0 15px;
        padding-top: 20px;
        padding-right: 22px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        max-width: 255px;
        width: 100%;

        &:before {
            position: absolute;
            content: '';
            z-index: -3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(61.44deg, #9934FF 27.9%, #79E2FF 88.81%);
        }

        &:after {
            position: absolute;
            content: '';
            z-index: -2;
            top: 10px;
            left: 0;
            width: calc(100% - 10px);
            height: calc(100% - 20px);
            background: #fff;
        }

        .dots {
            padding-left: 0;

            &-item {
                padding-left: 20px;
                margin-bottom: 19px;

                &:before {
                    top: 5px;
                    transform: rotate(90deg);
                }

                .text {
                    font-size: 12px;
                    line-height: 18px;
                    color: #2c2c2c;
                }
            }
        }
    }

    &__plan {
        margin-left: 20px;
        font-size: 12px;
        line-height: 20px;
        color: #c2c2c2;
    }

    &__title {
        margin-top: -3px;
        margin-bottom: 29px;
        font-family: $proxNovaBl;
        font-size: 24px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
    }

    &__price {
        margin-top: 9px;
        margin-left: 18px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #2c2c2c;
    }

    &__btn {
        position: relative;
        top: 11px;
        margin-top: 29px;
        padding: 2px 26px 4px;
        font-family: $proxNova;
        font-size: 12px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
    }
}

.audit {
    margin-top: 167px;
    padding-top: 80px;
    padding-bottom: 67px;
    width: 100%;
    background-image: url('/assets/img/bg-star.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-container {
        margin: 0 auto;
        max-width: 1015px;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .h3 {
        font-family: $proxNovaTh;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }

    &__subtitle {
        font-family: $open;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }

    &-list {
        margin: 41px auto 0;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        max-width: 766px;
        width: 100%;
    }

    &-item {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
    }

    &__text {
        padding-left: 30px;
        font-family: $proxNova;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        background-image: url('/assets/img/arrow-white.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 10px 9px;
    }
}

.question {
    margin-top: 157px;

    .h2 {
        margin-left: 95px;
        font-size: 50px;
        line-height: 40px;
        max-width: 665px;
        width: 100%;

        &:before {
            top: -6px;
            left: 362px;
            width: 95px;
            height: 88px;
        }
    }

    &-list {
        margin-top: 99px;
        margin-left: 95px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        max-width: 825px;
        width: 100%;
    }

    &-item:not(:last-child) {
        margin-bottom: 80px;
    }

    &__title {
        margin-bottom: 30px;
        font-family: $proxNova;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }

    &__text {
        padding-left: 45px;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        max-width: none;
    }
}

.creator {
    margin-top: 176px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column nowrap;

    .h2 {
        margin-left: 95px;

        &:before {
            top: -26px;
            left: 37px;
            width: 95px;
            height: 88px;
        }
    }

    &-list {
        margin-top: 50px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
    }

    &-item {
        margin-bottom: 100px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-img {
        width: 475px;
        height: 540px;

        &:after {
            position: absolute;
            content: '';
            right: 0;
            width: 35px;
            height: calc(100% - 120px);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &-info {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        flex: 1;
    }

    &__title {
        margin: 5px;
        font-family: $proxNova;
        font-size: 40px;
        font-weight: bold;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
    }

    &__subtitle {
        margin-bottom: 30px;
        font-family: $proxNova;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        color: #000000;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
}

.social {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;

    &__link {
        position: relative;
        margin-right: 19px;
        display: block;
        width: 41px;
        height: 41px;
        border-radius: 50%;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(46.92deg, #9934FF 27.9%, #79E2FF 88.81%);
            filter: blur(14px);
            transform: translateX(0) translateY(0);
            transition: all .3s ease-in-out;
        }

        &:hover,
        &:active,
        &:focus {

            &:before {
                bottom: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                transform: translateX(-50%) translateY(50%);
            }
        }
    }

    &_right {
        justify-content: flex-end;

        .social__link {
            margin-left: 19px;
            margin-right: 0;
        }
    }

}

.footer {

    &-menu {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 141px;
    }

    &-contacts {
        margin-right: auto;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
    }

    &__logo {
        width: 332px;
        height: 41px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-item {
        margin-left: 50px;
    }

    &__text {
        font-family: $proxNova;
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        text-transform: uppercase;
        color: #000000;
    }

    &__link {
        font-family: $proxNovaLt;
        font-size: 14px;
        line-height: 30px;
        color: #000000;
    }
}
