@import "vendors/bootstrap";
@import "vendors/normalize";
@import "vendors/fonts";
@import "vendors/defaults";
@import "vendors/swiper3";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$wrapperWidth: 1390px;
$containerWidth: 1180px;
$marginAuto: 0 auto;

body {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
